body {
  margin: 0;
  padding: 0;
  color: #FFF;
    font-family: 'roboto', sans-serif;  
}

h1 {
      font-size: 50px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
}

p {
  font-size: 24px;
  margin: 0 0 24px 0;
  opacity: 0.75;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(slidePymes.jpg);
}

.middle-box {
  text-align: center;
  width: 100%;
}

.descripcion {
  margin-top: 30px;
}
