<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Solicitud Seguros Pyme</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' 
		rel='stylesheet' type='text/css'>
	
<style>
body {
  margin: 0;
  padding: 0;
  color: #FFF;
    font-family: 'roboto', sans-serif;  
}

h1 {
      font-size: 50px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
}

p {
  font-size: 24px;
  margin: 0 0 24px 0;
  opacity: 0.75;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(https://www.provinciaseguros.com.ar/wp-content/uploads/2018/08/slidePymes-1.jpg);
}

.middle-box {
  text-align: center;
  width: 100%;
}

.descripcion {
  margin-top: 30px;
}

</style>	
</head>

<body>
	<div class="wrapper">
		<div class="middle-box">
			<h1>Solicitud de Cotizaci&oacute;n Seguros Pyme</h1>
			<p class="descripcion">Ingres&aacute; al siguiente link para ver los datos</p>
			<div class="nav">
				<div class="nav-item">
					<a href="{{urlSolicitudTropyme}}" style="z-index: 7;
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    background-color: #203d7c;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    outline: none;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    margin: 0px;
    padding: 12px 35px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;" class="fab fa-twitter">SOLICITUD INGRESADA</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>