<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset=utf-8>
</head>
<body>

Buenas tardes 
<br/> 
A través del cotizador web cliente final se ha solicitado una ayuda con la siguiente información:<br/> 
<br/> 
<br/> 

Los datos de la propuesta son:<br/>
 
Nombre y Apellido:		{{nombre}} {{apellido}} <br/>
Mail:					{{email}} <br/>
Telefono:				{{telFijoCodArea}} {{telFijo}} <br/>
Celular:	        	{{telCelularCodArea}} {{telCelular}} <br/>
Horario de contacto:	{{horarioDesc}} <br/>
Cotizacion:         	{{nroCotizacion}}  <br/> 
Ramo:        		    {{ramo}} , {{descripcionRamo}} <br/>
Fecha:         			{{fecha}} <br/>
Marca:         			{{marca}}  {{descripcionMarca}} <br/>
Modelo:                 {{modelo}}  {{descripcionModelo}} <br/>
Año de fabricacion:     {{anio}} <br/>
0KM:         		    {{cerokm}} <br/>
Codigo Postal:          {{cp}} <br/>
<br/>
Saludos.

</body>
</html>